.formUI{
    margin-top: 25px;
    text-align: center;
}
.formUI input{
    width: 550px;
    height: 30px;
    border-radius: 10px;
    border-color: deepskyblue;
}
.formUI button{
    color: white;
    background: green;
    border-radius: 5px;
    border-color: deepskyblue;
    height: 36px;
    text-transform: uppercase;
}
.messageUI{
    margin-left: 590px;
}
p{
    width: 320px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    background: peru;
    border-radius: 5px;
}
.messageUI button{
    color: white;
    border-radius: 5px;
    background: red;
    border: none;
    margin-left: 50px;
}